<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnstr" connectionString="Server = .\\TRUONGHUY; Database = QLChuyenBayVaVeMayBay; Integrated security=true; " />
    <add name="QL_ChuyenBay.Properties.Settings.QLChuyenBayVaVeMayBayConnectionString"
      connectionString="Data Source=TRUONGHUY\TRUONGHUY;Initial Catalog=QLChuyenBayVaVeMayBay;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>